

body{
   
   /** background-color: #e1e3e4;**/
    background-color:white;
   padding-top: 80px;
   
}



div.panel-footer{
    
    background-color:white;
	clear:both;
    
}

h1, h2, h3, h4, h5, h6, p, body, div, span{
    
   font-family: "Lato"; 
    
    
}

img#logo{
    height:65px;
    
    
}

center#main{
    
    background-image:url('../images/cover5.jpeg'); 
    height:500px;
    background-repeat: no-repeat;
    background-position: center;   
    
}

center div#main_title{
    padding:10px;
    
    
}

div#main_title {
    
    width:80%;
    margin:auto;
	clear:both;

}

div#main_title h4, div#main_title h1{
    
    font-family: "Petit Formal Script";
   
}



div#main_title img{
    
    border-radius:70%;
    height:200px;
    opacity: 0.5;
}
/**Button CSS**/

.main-button{
   height:35px;
   background-color:#3c948b;
   width:100px;
   border-radius:6px;
   /* box-shadow: 0 5px #666;*/
   transform: translateY(4px);  
   padding-top:5px;

   
}


a.main-button {
    
    text-decoration: none;
    color:white;
    
}

.main-button:hover{
    
    background-color: #4cb7ac;
    
 
}

div#aboutlauren{
    margin-top:200px;
    margin-left:-20px;
    margin-right:-20px;
    padding:80px;
    background-color:#ededed;
    
}

div#aboutlauren p{
    
   color:#3c948b;
   font-family: "Lato";
   padding:20px 40px;
}



div#aboutlauren h3{
    font-family: "Petit Formal Script";
}

div#aboutlauren img{
    
    height:200px;
    border-radius: 50%;
}



ul#mynavcss li a{
    
    color:black;
}

ul#mynavcss li{
   text-align: right;
    
}





/**Resume CSS**/

div#resume h3{
    font-family:"petit formal script";
    font-weight: 90;
    font-size:20px;
    padding:10px;
    
}

div#resume h4{
    font-family:"Lato";
   font-size:90%;
    
}
 @media only screen and (min-width:800px){
	div#content-resume{
		width:800px;

	}
}

div#skills ul{
    list-style: none;
    
}



#skillgrid li {
    padding-top:5px;
    float:left;
    height:100px;
    width:120px;
    font-size: 13px;
    margin:auto;
    color:black;
    text-align: center;
    font-family: "Lato";
}

#skillgrid li img{
    height:50px;
    
}


div#experience p{
    font-size:13px;
    
}

div#education p{
    font-size:13px;
    
}

div#certifications p{
    font-size:13px;
    
}



div#education ul, div#experience ul, div#certifications ul{
    
    list-style:none;
}

div#education li, div#experience li, div#certifications li{
    text-align: center;
    height:100%;
    width:100%;
    font-size: 13px;
    margin:0px;
    color:black;
    text-align: center;
    font-family: "Lato";
}

@media only screen and (max-width: 550px) {
    div#education img, div#certifications img, div#experience img, div#skills img{
        display: none;
    }
    
 div#skills p{
        font-size:15px;
        
    }
    
    div#education p,  div#certifications p, div#experience p {
        font-size:15px;
        
    }
    
    div#education li, div#experience li{
        border-bottom:solid 1px #dcdcdc;
		
    } 
    
    div#skills li{
        clear:both;
        height:40px;
        width:100%;
        text-align: left;
    } 
	
	div#main_title{
	margin-top:0px;
	}
    
   
}

/*Projects CSS*/

div#projects-page h3{
	font-family:"petit formal script";
	text-align:center;
	padding-bottom:15px;
}
img.proj-img{
text-align: center;
height:238px; 
width:350px; 
border-radius:10px; 
box-shadow: 10px 5px 5px #888888;
}

div.project-div h4{
text-align:left;

}


div table h4{
font-size:.9em;
}

div table th{
background-color:#3c948b;
color:white;

}

div.project-div table, th, td{

	border: 1px solid gray;
	padding:10px;

}

tr:nth-child(odd) {
    background-color: #dcdcdc;
}

div table td a {
color:black;

text-decoration:underline;

}

div table td a h4{
font-weight:lighter;

}



/*Project Details CSS*/

div#project-detail-page{
    text-align: center;
}

div#project-detail-page h3{
	font-family:"petit formal script";
	text-align:center;
}

div#project-detail-page img{
    margin:10px;
    width:35%;
    border:1px solid #acacac;
}





/**Blog CSS**/


/**.sidebar-right{**/
#posts{
position:fixed;
right:0;
width: 20%;
height:100%;
background-color: #3c948b;
color: white;
margin-top:25px;
padding-left:3px;



}
.post{
width:100%;
vertical-align: middle;
height:30px;

}

.sidebar-right{
    
    margin-top:-14px;
}

.sidebar-right a{
text-decoration:none;
color:white;
}
.sidebar-right a:hover{
color:black;
}

.sidebar-right h5{

font-family:"lato";
font-size:16px;
font-weight:normal;
text-align:right;

}
.sidebar-right .title
{
border-bottom:solid 2px white;
font-size: 18px;
position:fixed;
z-index: 14;

}

.title{
float:right;
width:20%;
background-color:#3c948b;
color:white;

    
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
  right:0;
  height:25px;
  width:20%;
  text-align: center;
  
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 
  0 0.25em 0 0 white,
  0 0.5em 0 0 white;
  z-index:12;
}

button#blog-collapse{
background-color:white;
border:1px;
height:30px;

}


#blog-template, .blog-section{
float:left;
width:80%;
}

.blog-post{
    
    margin:20px;
	
    
}
@media only screen and (min-width: 800px){
center#main{
    
    background-image:url('../images/cover5.jpeg'); 
	background-size:1000px;
    height:800px;
    background-repeat: no-repeat;
    background-position: top;  

}
 
}


@media only screen and (max-width: 550px) {
    
    #posts{
position:fixed;
right:0;
width: 90%;
height:100%;
background-color: #3c948b;
color: white;
margin-top:25px;
padding-left:3px;
z-index: 13;



}
.post{
width:90%;
vertical-align: middle;
height:50px;

}

.sidebar-right{
    margin-top:-12px;
}

.sidebar-right h5{
font-size:20px;
text-align:left;

}
.sidebar-right .title{
font-size: 22px;
position:fixed;
}

#blog-collapse{
width:90%;
}
    
   div#project-detail-page img{
    margin:5px;
    width:90%;
    border:1px solid #acacac;
}
    
    img.proj-img{
        text-align: center;
        width:90%; 

}


    
}







