

body{
   
   /** background-color: #e1e3e4;**/
    background-color:white;
   
   
}

div.panel-footer{
    
    background-color:white;
    
}

h1, h2, h3, h4, h5, h6, p, body, div, span{
    
   font-family: "Lato"; 
    
    
}

img#logo{
    height:65px;
    
    
}

center#main{
    
    background-image:url('../images/cover5.jpeg'); 
    height:500px;
    background-repeat: no-repeat;
    background-position: center;   
    
}

center div#main_title{
    padding:10px;
    
    
}

div#main_title {
    
    width:80%;
    margin:auto;
    margin-top:50px;

}

div#main_title h4, div#main_title h1{
    
    font-family: "Petit Formal Script";
   
}



div#main_title img{
    
    border-radius:70%;
    height:200px;
    opacity: 0.5;
}


.main-button{
    
   background-color:#3c948b;
   width:125px;
   height:70px;   
   border-radius:6px;
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
   
}

a.main-button {
    
    text-decoration: none;
    color:white;
    height:70px;
}

.main-button:hover{
    
    background-color: #4cb7ac;
    
 
}

div#aboutlauren{
    margin-top:200px;
    margin-left:-20px;
    margin-right:-20px;
    padding:20px;
    background-color:#ededed;
    
}

div#aboutlauren p{
    
   color:#3c948b;
   font-family: "Lato";
   padding:20px 40px;
}



div#aboutlauren h3{
    font-family: "Petit Formal Script";
}

div#aboutlauren img{
    
    height:200px;
    border-radius: 50%;
}



ul#mynavcss li a{
    
    color:black;
}

ul#mynavcss li{
   text-align: right;
    
}


.blog-post{
    
    margin:20px;
    
}


/**Resume CSS**/

div#resume h3{
    font-family:"petit formal script";
    font-weight: 90;
    font-size:20px;
    padding:10px;
    
}

div#resume h4{
    font-family:"Lato";
   font-size:90%;
    
}


div#skills ul{
    list-style: none;
    
}



#skillgrid li {
    padding-top:5px;
    float:left;
    height:100px;
    width:120px;
    font-size: 13px;
    margin:auto;
    color:black;
    text-align: center;
    font-family: "Lato";
}

#skillgrid li img{
    height:50px;
    
}


div#experience p{
    font-size:13px;
    
}

div#education p{
    font-size:13px;
    
}

div#certifications p{
    font-size:13px;
    
}



div#education ul, div#experience ul, div#certifications ul{
    
    list-style:none;
}

div#education li, div#experience li, div#certifications li{
    text-align: center;
    width:300px;
    height:110px;
    margin:20px 0px;
}

@media only screen and (max-width: 550px) {
    div#education img, div#certifications img, div#experience img, div#skills img{
        display: none;
    }
    
 div#skills p{
        font-size:20px;
        
    }
    
    div#education p,  div#certifications p, div#experience p {
        font-size:15px;
        
    }
    
    div#education li, div#experience li{
        border-bottom:solid 1px;
    } 
    
    div#skills li{
        clear:both;
        height:40px;
        width:100%;
        text-align: left;
    } 
    
   
}
@media only screen and (max-width: 550px) {
    div#education, div#certifications, div#experience, div#skillgrid{
        margin-left:-50px;
    }
    
    
}
