
p{
    font-family: tahoma;
    font-size:14px;
    width:760px;
    margin:auto;
}
header{
    border-bottom:solid;
    margin:auto;
    width:760px;

}

div {

    padding:10px;
    text-align: center;
}


h1 { 

    font-family: georgia, serif;
    text-align: center    
    
}

h2, h3 , h4{

    font-family: geneva, sans-serif;
    text-align: center   
}

#map {

height: 400px;
width: 760px;
margin: auto;
}
